SoapWebService/WS.wsdl

<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
<s:element name="Fibonacci">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="n" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="FibonacciResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="FibonacciResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="FibonacciSoapIn">
<wsdl:part name="parameters" element="tns:Fibonacci"/>
</wsdl:message>
<wsdl:message name="FibonacciSoapOut">
<wsdl:part name="parameters" element="tns:FibonacciResponse"/>
</wsdl:message>
<wsdl:portType name="LemonWayWebServiceSoap">
<wsdl:operation name="Fibonacci">
<wsdl:input message="tns:FibonacciSoapIn"/>
<wsdl:output message="tns:FibonacciSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="LemonWayWebServiceSoap" type="tns:LemonWayWebServiceSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="Fibonacci">
<soap:operation soapAction="http://tempuri.org/Fibonacci" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="LemonWayWebServiceSoap12" type="tns:LemonWayWebServiceSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="Fibonacci">
<soap12:operation soapAction="http://tempuri.org/Fibonacci" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="LemonWayWebService">
<wsdl:port name="LemonWayWebServiceSoap" binding="tns:LemonWayWebServiceSoap">
<soap:address location="http://localhost:2159/LemonWayWebService.asmx"/>
</wsdl:port>
<wsdl:port name="LemonWayWebServiceSoap12" binding="tns:LemonWayWebServiceSoap12">
<soap12:address location="http://localhost:2159/LemonWayWebService.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>